.NavSection {
    box-sizing: border-box;
    position: relative;
    top: 20px;
    height: 150px;
    background: #E5E5E5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.logo {
    position: absolute;
    width: 85px;
    height: 35px;
    left: 27px;
    top: 20px;
    border: none;
    color: #fff;
    background: #CF0A0A;
    border-radius: 40px;
}

.home {
    position: absolute;
    width: 85px;
    height: 35px;
    left: 27px;
    top: 100px;
    line-height: 22px;
    color: #fff;
    background: #CF0A0A;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.search-bar {
    position: absolute;
    text-align: center;
    width: 327px;
    height: 42px;
    color: #fff;
    top: 40px;
    left: 274px;
    background: #CF0A0A;
    border-radius: 20px;
    border: 0;
}

.search-bar::placeholder {
    color: white;
}

.search-icon {
    position: relative;
    width: 24px;
    height: 24px;
    left: 559px;
    top: 50px;
    cursor: pointer;
}

.line {
    position: absolute;
    width: 145px;
    height: 0px;
    left: 636px;
    top: 72px;
    border: 1px solid #000;
    transform: rotate(90deg);
}

.list-button {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 736px;
    top: 40px;
    background: #CF0A0A;
    color: #E5E5E5;
    border-radius: 8px;
    border: 0;
}

.signup {
    position: absolute;
    width: 100px;
    height: 35px;
    left: 1170px;
    border: 0;
    top: 20px;
    color: #fff;
    background: #CF0A0A;
    border-radius: 40px;
    cursor: pointer;
}

.login {
    position: absolute;
    width: 100px;
    height: 35px;
    left: 1170px;
    top: 100px;
    color: #fff;
    background: #CF0A0A;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}