section{
    background: #153462;
    min-height: 100vh;
}
section .title{
    text-align: center;
}
.animation{
    display: flex;
    justify-content: center;
}
.typewriter{
    font-size: 60px;
    padding-top: 80px;
    color: crimson;
}
.container{
    color: #fff;
    font-size: 1.2rem;
    display: grid;
    background: grey;
}