section{
    background: #153462;
    min-height: 100vh;
}
section .title{
    text-align: center;
}
.animation{
    display: flex;
    justify-content: center;
}
.typewriter{
    font-size: 60px;
    padding-top: 80px;
    color: crimson;
}
.container{
    margin: 40px;
    color: #fff;
    padding: 15px 0;;
    font-size: 1.2rem;
    display: flex;;
}
.cont{
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}