.header-section{
    box-sizing: border-box;
    position: relative;
    width: 1202px;
    height: 450px;
    background: #e5e5e5;
    top: 50px;
    left: 70px;
    border-radius: 8px;
}
.right-box{
    padding: 20px 20px 0 ;
    position: relative;
    width: 327px;
    height: 370px;
    left: 44px;
    top: 45px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
}
.left-box{
    position: relative;
    padding: 20px 20px 0;
    width: 650px;
    height: 370px;
    left: 500px;
    top: -327px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
}
