@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

.Navigation{
    font-family: 'Fondamento', cursive;
    font-size: 18px;
}
.Navigation ul{
    display: flex;
    gap: 55px;
    justify-content: right;
    padding: 30px;
}
.Navigation ul li{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.Navigation ul li a{
    color: #fff;
}
.Navigation ul li a:hover {
    color: #D36B00;
}
.window-scroll{
    background: #4FA095;
}